# Exploratory Data Analysis

In [2]:
# this cell is for imports
import numpy as np
import pandas as pd

In [5]:
# getting jokes from kaggle dataset
kaggle_jokes_raw = pd.read_csv('input/kaggle/shortjokes.csv')

In [7]:
kaggle_jokes_raw.head()

   ID                                               Joke
0   1  [me narrating a documentary about narrators] "...
1   2  Telling my daughter garlic is good for you. Go...
2   3  I've been going through a really rough period ...
3   4  If I could have dinner with anyone, dead or al...
4   5     Two guys walk into a bar. The third guy ducks.