# Exploratory Data Analysis

In [4]:
# this cell is for imports
import numpy as np
import pandas as pd

In [5]:
# see the first n lines of accepted  data
n = 100
accepted_data = pd.read_csv('input/accepted_2007_to_2018Q3.csv.gz', nrows=n, compression='gzip',
                   error_bad_lines=False)
accepted_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,93999587,NaN,19200.0,19200.0,19200.0,36 months,13.99,656.12,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,96219354,NaN,7000.0,7000.0,7000.0,36 months,5.32,210.81,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,96309331,NaN,12000.0,12000.0,12000.0,36 months,16.99,427.78,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,96429334,NaN,6000.0,6000.0,6000.0,36 months,7.49,186.61,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,96229241,NaN,5000.0,5000.0,5000.0,36 months,10.49,162.49,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# see the first n lines of rejected data
n = 100
rejected_data = pd.read_csv('input/rejected_2007_to_2018Q3.csv.gz', nrows=n, compression='gzip',
                   error_bad_lines=False)
accepted_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,93999587,NaN,19200.0,19200.0,19200.0,36 months,13.99,656.12,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,96219354,NaN,7000.0,7000.0,7000.0,36 months,5.32,210.81,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,96309331,NaN,12000.0,12000.0,12000.0,36 months,16.99,427.78,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,96429334,NaN,6000.0,6000.0,6000.0,36 months,7.49,186.61,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,96229241,NaN,5000.0,5000.0,5000.0,36 months,10.49,162.49,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN